#board{
  width: 30%;
  height: 30vw;
}
.cell{
  display: flex;
  background-color: lightgray;
  margin: 0.3vw;
  border-radius: 1.5vw;
  width: 5vw;
  height: 5vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
}
