<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Title </h1>
    <h2>{{word}}</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores architecto blanditiis nostrum libero! Labore, ratione dignissimos illo quis natus voluptate reprehenderit sint eveniet fugiat. Quae, aliquam neque suscipit dolorum odio saepe molestiae corrupti, repellat eos ad voluptatem expedita? Eveniet facilis odio incidunt consectetur illo dolor id quia quae totam culpa.</p>
</body>
</html>